<div class='banner'>
        	<div class='container'>
            	<h1><a href="index.html">TV Addict</a></h1>
				</div>
		</div>
	<div class="container main-frame" ng-app="TVAddictApp" ng-controller="mainController" ng-init="init()">
		<!--creates search bar-->
		<div class="search-box row-fluid form-inline">
			<input type="text" placeholder="search" ng-model="filterText"/>
		</div>
		
		
        <div class="results-top"></div>
        <div class="results-container">
            <ul class="episode-list"></ul>
				<li ng-repeat="tvshow in results | filter: filterText">
				<div class="row-fluid">
					<div class="span3">
						<img src="{{tvshow.episode.images.screen}}" />
					</div>
					<div class="span6">
					<h3><a href="detail.inc">{{tvshow.show.title}}: {{tvshow.episode.title}}</a></h3>
						<p>{{tvshow.episode.overview}}</p>
					</div>
					<div class="span3">
						<div class="fulldate pull-right label label-info">{{tvshow.date}}</div>
			            <ul class="show-info">
			                <li><strong>On Air:</strong> {{tvshow.show.air_day}} {{tvshow.show.air_time}}</li>
			                <li><strong>Network:</strong> {{tvshow.show.network}}</li>
			                <li><strong>Season #:</strong> {{tvshow.episode.season}}</li>
			                <li><strong>Genres:</strong> <span class="label label-inverse genre" ng-repeat="genre in tvshow.show.genres">{{genre}}</span></li>
			            </ul>
					</div>
				</div>
			</li>
            
        </div>
        <div class="results-bottom"></div>
        
        
	</div>
