body {
   background-color: #712388;
}
h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

input{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

ul, li
{
    list-style-type: none;
    border-top: 1px solid rgba(255,255,255,0.6);
}

.episode-list{
	    border-top: 1px solid rgba(255,255,255,0.6);

}

.banner {
    background-color: #000000;
    color: #FFF;
    height: 150px;
}
.banner h1 {
    font-size: 50px;
    margin-top: 50px;
}

.banner a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a {
	text-decoration: none;
	color: #712388;
}

a:visited {
	color: #712388;
}

a:hover {
	color:#000000;
	text-decoration: none;
}


.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}
.search-box {
    line-height: 50px;
    background-color: #333;
    color: #FFF;
    font-family: cursive;
    margin-bottom: 10px;
    margin-right: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


input[type="text"]{
	font-size: 20px;
}
.episode-list {
    list-style: none;
    margin: 0px;
}

.episode-list h3 {
    margin-top: 0px;
}

.episode-list .ratings {
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #FFF;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.episode-list .fulldate {
    margin: 5px;
}

.episode-list li {
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: dotted 1px #7c3ef8;
}

.episode-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.show-info {
    list-style: none;
    margin: 0px;
    padding: 10px;
    background-color: #e1e1e1;
    color: #333;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.show-info li {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #CCC;
    line-height: 40px;
}

.show-info li:last-child {
    border-bottom: none;
}

.show-info .genre {
    margin-right: 5px;
    cursor: pointer;
}